.splash-page {
  height: 100%;
  width: 100%;
  min-height: 900px;
  margin-top: 32px;
  background-repeat:   no-repeat;
  background-position: center center; 
  margin: auto;
}

.splash-page-title {
  top: 150px;
  right: 30px;
  font-size: 60px;
  position: fixed;
  z-index: 0;
  color: white;
  min-width: 700px;
  font-style: italic;
}