/* spots component*/

#spots-list-header{
  color: rgb(72, 72, 72);
  font-weight: 800;
  font-size: 24px;
}

#spots-list-container{
}

#spots-results-list{
display: flex;
justify-content: flex-start;
flex-direction: row;
flex-wrap: wrap;
list-style: none;
padding: 0;
list-style-type: none;
}

#spots-results-list > p{
  margin: onen;
}

.spot-list-item{
  margin-left: 9px;
    margin-right: 9px;
    border: 1px solid;
} 

#photo{
  
}
#spot-list-description{
  font-size: 18px;
    font-weight: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-family: sans-serif;
    color: rgb(72, 72, 72);
    margin: unset;
}
#spot-list-price{
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  color: #484848 !important;
  margin: unset;
}