/* spots component*/

#spots-list-header{
  color: rgb(72, 72, 72);
  font-weight: 800;
  font-size: 24px;
}

#outer-spots-div{
  font-size: 16px;
}
#spots-list-container{
}

#spots-results-list{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  list-style-type: none;
  margin: 0;
  justify-content: center;
  margin-top: 115px;
}

#spots-results-list > p{
  margin: unset;
}

#spots-results-list a{
  text-decoration: none;
  width: calc(18% - 10px);
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 30px;
}

.spot-list-item{
  /* margin-left: 9px; */
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  /* width: calc(30vw - 18px); */

} 
#spot-list-photo-container{
  width: auto;
  height: 160px; 
  overflow: hidden;
}

#spot-list-photo{
  width: 100%;
}

#spot-list-photo:hover{
  opacity: 0.8;
  background-color: rgb(100, 100, 100, 0.8);
}

#spot-list-description{
  font-size: 18px;
  font-family: sans-serif;
  color: rgb(72, 72, 72);
  margin: unset;
  word-break: break-word;
  text-decoration: none;
  width: 100%;
}
#spot-list-price{
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #484848;
  margin: unset;
}

/* spot show page */
.spotshow-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#spotshow-photo-container{
  height: 300px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  overflow: hidden;
}

.spotshow-photo-large{
   
  width:50%;
  height:100%;
  box-sizing: border-box;
  border: 1px solid darkgray;
}
.spotshow-photo-large:hover{
   opacity: 0.8;
  
}
#outer{
  position: relative;
  display: flex;
  flex-direction: row;
  height: 2000px;
}
.check-in-box{
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #484848;
  position: sticky;
  width: 360px;
    height: 355px;
    border: 1px solid black;
    top: 90px;
    margin-top: 50px;
    margin-left: 80px;
}
.check-in-box span{
  margin: unset;
  color: rgb(72, 72, 72);
  font-size: 20px;
  font-weight: 600;
}


.spotshow-info-column{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.spotshow-name{
  word-wrap: break-word;
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 800;
    line-height: 1.125em;
    color: #484848;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: unset;
}
.spotshow-city{
  word-wrap: break-word;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #484848;
}
.spotshow-occupancy{
  margin: 0px;
  word-wrap: break-word;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #484848;
}
.spotshow-occupancy p{
  margin: 0px;
  margin-top: 5px;
  font-weight: 400;
}
.spotshow-description{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 572px;
  font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.375em;
    color: #484848;
    margin-top: 30px;
}
.spotshow-description p{
  word-break: break-word;
  width: 100%;
}

.spots-and-map-div {
  display: flex;
}

.outer-map-div {
  position: fixed;
  right: 0px;
  width: 500px;
  height: 0px;
}

.spots-index-map-active {
  margin-right: 500px;
}