.guests-modal {
  display: none;
}

.dates-modal {
  display: none;
}

.price-range-modal {
  display: none;
}

.show-modal { 
  display: block;
  height: auto;
  width: auto;
  border: 1px solid black;
}

.modal-button {
  box-sizing: border-box;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  height: 32px;
  border: 1px solid rgb(220, 224, 224);
  background-color: white;
  border-radius: 4px;
  font-size: 14px;
  color: #484848;
  margin-left: 10px;
}

.modal-button:hover {
  background-color: rgb(220, 224, 224);
  cursor: pointer;
}

.form-options-wrapper {
  border-bottom: 1px solid rgb(220, 224, 224);
  width: 100%;
  position: relative;
  display: flex;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 10px;
  padding-top: 10px;
}

