.guests-modal {
  display: none;
}

.dates-modal {
  display: none;
}

.price-range-modal {
  display: none;
}

.show-modal { 
  display: block;
  height: auto;
  width: auto;
  border: 1px solid black;
}